{% extends 'base.html' %}
{% block body %}
<v-app>
    ${data}
    <v-checkbox
            v-model="checkbox"
            :label="`Checkbox 1: ${checkbox.toString()}`"
    ></v-checkbox>
    <v-combobox
            v-model="select"
            :items="items"
            label="Combobox"
            multiple
            outlined
            dense
    ></v-combobox>
    <ul v-for="item in select">
        <li>${ item }</li>
    </ul>
</v-app>
{% endblock %}
{% block js %}
    {{ parent() }}
    {{ script_foot | raw }}
{% endblock %}